In [86]:
import pandas as pd
import numpy as np
import sys

In [87]:
np.set_printoptions(threshold = sys.maxsize)

In [88]:
in_count = np.loadtxt("country-capitals.csv",delimiter = ',',dtype = str)
df = pd.DataFrame(in_count)
print(df.to_string())

                                            0                    1                     2                 3            4                5
0                              ï»¿CountryName          CapitalName       CapitalLatitude  CapitalLongitude  CountryCode    ContinentName
1                                  Somaliland             Hargeisa                  9.55         44.050000         NULL           Africa
2    South Georgia and South Sandwich Islands    King Edward Point            -54.283333        -36.500000           GS       Antarctica
3         French Southern and Antarctic Lands   Port-aux-FranÃ§ais                -49.35         70.216667           TF       Antarctica
4                                   Palestine            Jerusalem    31.766666666666666         35.233333           PS             Asia
5                               Aland Islands            Mariehamn             60.116667         19.900000           AX           Europe
6                                       Nauru                Yaren               -0.5477        166.920867           NR        Australia
7                                Saint Martin              Marigot               18.0731        -63.082200           MF    North America
8                                     Tokelau                Atafu             -9.166667       -171.833333           TK        Australia
9                              Western Sahara            El-AaiÃºn             27.153611        -13.203333           EH           Africa
10                                Afghanistan                Kabul    34.516666666666666         69.183333           AF             Asia
11                                    Albania               Tirana     41.31666666666667         19.816667           AL           Europe
12                                    Algeria              Algiers                 36.75          3.050000           DZ           Africa
13                             American Samoa            Pago Pago   -14.266666666666667       -170.700000           AS        Australia
14                                    Andorra     Andorra la Vella                  42.5          1.516667           AD           Europe
15                                     Angola               Luanda    -8.833333333333334         13.216667           AO           Africa
16                                   Anguilla           The Valley    18.216666666666665        -63.050000           AI    North America
17                        Antigua and Barbuda         Saint John's    17.116666666666667        -61.850000           AG    North America
18                                  Argentina         Buenos Aires   -34.583333333333336        -58.666667           AR    South America
19                                    Armenia              Yerevan    40.166666666666664         44.500000           AM           Europe
20                                      Aruba           Oranjestad    12.516666666666667        -70.033333           AW    North America
21                                  Australia             Canberra   -35.266666666666666        149.133333           AU        Australia
22                                    Austria               Vienna                  48.2         16.366667           AT           Europe
23                                 Azerbaijan                 Baku     40.38333333333333         49.866667           AZ           Europe
24                                    Bahamas               Nassau    25.083333333333332        -77.350000           BS    North America
25                                    Bahrain               Manama    26.233333333333334         50.566667           BH             Asia
26                                 Bangladesh                Dhaka    23.716666666666665         90.400000           BD             Asia
27                                   Barbados           Bridgetown                  13.1        -59.616667           BB    North America
28                                    Belarus                Minsk                  53.9         27.566667           BY           Europe
29                                    Belgium             Brussels    50.833333333333336          4.333333           BE           Europe
30                                     Belize             Belmopan                 17.25        -88.766667           BZ  Central America
31                                      Benin           Porto-Novo     6.483333333333333          2.616667           BJ           Africa
32                                    Bermuda             Hamilton     32.28333333333333        -64.783333           BM    North America
33                                     Bhutan              Thimphu    27.466666666666665         89.633333           BT             Asia
34                                    Bolivia               La Paz                 -16.5        -68.150000           BO    South America
35                     Bosnia and Herzegovina             Sarajevo     43.86666666666667         18.416667           BA           Europe
36                                   Botswana             Gaborone   -24.633333333333333         25.900000           BW           Africa
37                                     Brazil             Brasilia   -15.783333333333333        -47.916667           BR    South America
38                     British Virgin Islands            Road Town    18.416666666666668        -64.616667           VG    North America
39                          Brunei Darussalam  Bandar Seri Begawan     4.883333333333333        114.933333           BN             Asia
40                                   Bulgaria                Sofia     42.68333333333333         23.316667           BG           Europe
41                               Burkina Faso          Ouagadougou    12.366666666666667         -1.516667           BF           Africa
42                                    Myanmar              Rangoon                  16.8         96.150000           MM             Asia
43                                    Burundi            Bujumbura   -3.3666666666666667         29.350000           BI           Africa
44                                   Cambodia           Phnom Penh                 11.55        104.916667           KH             Asia
45                                   Cameroon              Yaounde    3.8666666666666667         11.516667           CM           Africa
46                                     Canada               Ottawa    45.416666666666664        -75.700000           CA  Central America
47                                 Cape Verde                Praia    14.916666666666666        -23.516667           CV           Africa
48                             Cayman Islands          George Town                  19.3        -81.383333           KY    North America
49                   Central African Republic               Bangui     4.366666666666666         18.583333           CF           Africa
50                                       Chad            N'Djamena                  12.1         15.033333           TD           Africa
51                                      Chile             Santiago                -33.45        -70.666667           CL    South America
52                                      China              Beijing    39.916666666666664        116.383333           CN             Asia
53                           Christmas Island       The Settlement   -10.416666666666666        105.716667           CX        Australia
54                              Cocos Islands          West Island   -12.166666666666666         96.833333           CC        Australia
55                                   Colombia               Bogota                   4.6        -74.083333           CO    South America
56                                    Comoros               Moroni                 -11.7         43.233333           KM           Africa
57           Democratic Republic of the Congo             Kinshasa    -4.316666666666666         15.300000           CD           Africa
58                          Republic of Congo          Brazzaville                 -4.25         15.283333           CG           Africa
59                               Cook Islands               Avarua                 -21.2       -159.766667           CK        Australia
60                                 Costa Rica             San Jose     9.933333333333334        -84.083333           CR  Central America
61                              Cote d'Ivoire         Yamoussoukro     6.816666666666666         -5.266667           CI           Africa
62                                    Croatia               Zagreb                  45.8         16.000000           HR           Europe
63                                       Cuba               Havana    23.116666666666667        -82.350000           CU    North America
64                                   CuraÃ§ao           Willemstad                  12.1        -68.916667           CW    North America
65                                     Cyprus              Nicosia    35.166666666666664         33.366667           CY           Europe
66                             Czech Republic               Prague    50.083333333333336         14.466667           CZ           Europe
67                                    Denmark           Copenhagen    55.666666666666664         12.583333           DK           Europe
68                                   Djibouti             Djibouti    11.583333333333334         43.150000           DJ           Africa
69                                   Dominica               Roseau                  15.3        -61.400000           DM    North America
70                         Dominican Republic        Santo Domingo    18.466666666666665        -69.900000           DO    North America
71                                    Ecuador                Quito  -0.21666666666666667        -78.500000           EC    South America
72                                      Egypt                Cairo                 30.05         31.250000           EG           Africa
73                                El Salvador         San Salvador                  13.7        -89.200000           SV  Central America
74                          Equatorial Guinea               Malabo                  3.75          8.783333           GQ           Africa
75                                    Eritrea               Asmara    15.333333333333334         38.933333           ER           Africa
76                                    Estonia              Tallinn     59.43333333333333         24.716667           EE           Europe
77                                   Ethiopia          Addis Ababa     9.033333333333333         38.700000           ET           Africa
78                           Falkland Islands              Stanley                 -51.7        -57.850000           FK    South America
79                              Faroe Islands             Torshavn                    62         -6.766667           FO           Europe
80                                       Fiji                 Suva   -18.133333333333333        178.416667           FJ        Australia
81                                    Finland             Helsinki    60.166666666666664         24.933333           FI           Europe
82                                     France                Paris     48.86666666666667          2.333333           FR           Europe
83                           French Polynesia              Papeete   -17.533333333333335       -149.566667           PF        Australia
84                                      Gabon           Libreville   0.38333333333333336          9.450000           GA           Africa
85                                 The Gambia               Banjul                 13.45        -16.566667           GM           Africa
86                                    Georgia              Tbilisi     41.68333333333333         44.833333           GE           Europe
87                                    Germany               Berlin    52.516666666666666         13.400000           DE           Europe
88                                      Ghana                Accra                  5.55         -0.216667           GH           Africa
89                                  Gibraltar            Gibraltar     36.13333333333333         -5.350000           GI           Europe
90                                     Greece               Athens    37.983333333333334         23.733333           GR           Europe
91                                  Greenland                 Nuuk     64.18333333333334        -51.750000           GL  Central America
92                                    Grenada       Saint George's                 12.05        -61.750000           GD    North America
93                                       Guam              Hagatna    13.466666666666667        144.733333           GU        Australia
94                                  Guatemala       Guatemala City    14.616666666666667        -90.516667           GT  Central America
95                                   Guernsey     Saint Peter Port                 49.45         -2.533333           GG           Europe
96                                     Guinea              Conakry                   9.5        -13.700000           GN           Africa
97                              Guinea-Bissau               Bissau                 11.85        -15.583333           GW           Africa
98                                     Guyana           Georgetown                   6.8        -58.150000           GY    South America
99                                      Haiti       Port-au-Prince    18.533333333333335        -72.333333           HT    North America
100                              Vatican City         Vatican City                  41.9         12.450000           VA           Europe
101                                  Honduras          Tegucigalpa                  14.1        -87.216667           HN  Central America
102                                   Hungary             Budapest                  47.5         19.083333           HU           Europe
103                                   Iceland            Reykjavik                 64.15        -21.950000           IS           Europe
104                                     India            New Delhi                  28.6         77.200000           IN             Asia
105                                 Indonesia              Jakarta    -6.166666666666667        106.816667           ID             Asia
106                                      Iran               Tehran                  35.7         51.416667           IR             Asia
107                                      Iraq              Baghdad    33.333333333333336         44.400000           IQ             Asia
108                                   Ireland               Dublin     53.31666666666667         -6.233333           IE           Europe
109                               Isle of Man              Douglas                 54.15         -4.483333           IM           Europe
110                                    Israel            Jerusalem    31.766666666666666         35.233333           IL             Asia
111                                     Italy                 Rome                  41.9         12.483333           IT           Europe
112                                   Jamaica             Kingston                    18        -76.800000           JM    North America
113                                     Japan                Tokyo     35.68333333333333        139.750000           JP             Asia
114                                    Jersey         Saint Helier     49.18333333333333         -2.100000           JE           Europe
115                                    Jordan                Amman                 31.95         35.933333           JO             Asia
116                                Kazakhstan               Astana    51.166666666666664         71.416667           KZ             Asia
117                                     Kenya              Nairobi   -1.2833333333333332         36.816667           KE           Africa
118                                  Kiribati               Tarawa   -0.8833333333333333        169.533333           KI        Australia
119                               North Korea            Pyongyang    39.016666666666666        125.750000           KP             Asia
120                               South Korea                Seoul                 37.55        126.983333           KR             Asia
121                                    Kosovo             Pristina    42.666666666666664         21.166667           KO           Europe
122                                    Kuwait          Kuwait City    29.366666666666667         47.966667           KW             Asia
123                                Kyrgyzstan              Bishkek     42.86666666666667         74.600000           KG             Asia
124                                      Laos            Vientiane    17.966666666666665        102.600000           LA             Asia
125                                    Latvia                 Riga                 56.95         24.100000           LV           Europe
126                                   Lebanon               Beirut     33.86666666666667         35.500000           LB             Asia
127                                   Lesotho               Maseru   -29.316666666666666         27.483333           LS           Africa
128                                   Liberia             Monrovia                   6.3        -10.800000           LR           Africa
129                                     Libya              Tripoli     32.88333333333333         13.166667           LY           Africa
130                             Liechtenstein                Vaduz     47.13333333333333          9.516667           LI           Europe
131                                 Lithuania              Vilnius     54.68333333333333         25.316667           LT           Europe
132                                Luxembourg           Luxembourg                  49.6          6.116667           LU           Europe
133                                 Macedonia               Skopje                    42         21.433333           MK           Europe
134                                Madagascar         Antananarivo   -18.916666666666668         47.516667           MG           Africa
135                                    Malawi             Lilongwe   -13.966666666666667         33.783333           MW           Africa
136                                  Malaysia         Kuala Lumpur    3.1666666666666665        101.700000           MY             Asia
137                                  Maldives                 Male     4.166666666666667         73.500000           MV             Asia
138                                      Mali               Bamako                 12.65         -8.000000           ML           Africa
139                                     Malta             Valletta     35.88333333333333         14.500000           MT           Europe
140                          Marshall Islands               Majuro                   7.1        171.383333           MH        Australia
141                                Mauritania           Nouakchott    18.066666666666666        -15.966667           MR           Africa
142                                 Mauritius           Port Louis                -20.15         57.483333           MU           Africa
143                                    Mexico          Mexico City    19.433333333333334        -99.133333           MX  Central America

In [89]:
in_var = pd.read_csv('country-capitals.csv')
in_var.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
0,Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
2,French Southern and Antarctic Lands,Port-aux-Français,-49.350000,70.216667,TF,Antarctica
3,Palestine,Jerusalem,31.766667,35.233333,PS,Asia
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe

In [90]:
in_var.drop(['CapitalLatitude','CapitalLongitude','ContinentName'],axis = 1,inplace = True)

In [91]:
print(in_var)

                                  CountryName        CapitalName CountryCode
0                                  Somaliland           Hargeisa         NaN
1    South Georgia and South Sandwich Islands  King Edward Point          GS
2         French Southern and Antarctic Lands  Port-aux-Français          TF
3                                   Palestine          Jerusalem          PS
4                               Aland Islands          Mariehamn          AX
5                                       Nauru              Yaren          NR
6                                Saint Martin            Marigot          MF
7                                     Tokelau              Atafu          TK
8                              Western Sahara           El-Aaiún          EH
9                                 Afghanistan              Kabul          AF
10                                    Albania             Tirana          AL
11                                    Algeria            Algiers          DZ
12                             American Samoa          Pago Pago          AS
13                                    Andorra   Andorra la Vella          AD
14                                     Angola             Luanda          AO
15                                   Anguilla         The Valley          AI
16                        Antigua and Barbuda       Saint John's          AG
17                                  Argentina       Buenos Aires          AR
18                                    Armenia            Yerevan          AM
19                                      Aruba         Oranjestad          AW
20                                  Australia           Canberra          AU
21                                    Austria             Vienna          AT
22                                 Azerbaijan               Baku          AZ
23                                    Bahamas             Nassau          BS
24                                    Bahrain             Manama          BH
25                                 Bangladesh              Dhaka          BD
26                                   Barbados         Bridgetown          BB
27                                    Belarus              Minsk          BY
28                                    Belgium           Brussels          BE
29                                     Belize           Belmopan          BZ
..                                        ...                ...         ...
215                                      Togo               Lome          TG
216                                     Tonga         Nuku'alofa          TO
217                       Trinidad and Tobago      Port of Spain          TT
218                                   Tunisia              Tunis          TN
219                                    Turkey             Ankara          TR
220                              Turkmenistan           Ashgabat          TM
221                  Turks and Caicos Islands         Grand Turk          TC
222                                    Tuvalu           Funafuti          TV
223                                    Uganda            Kampala          UG
224                                   Ukraine               Kyiv          UA
225                      United Arab Emirates          Abu Dhabi          AE
226                            United Kingdom             London          GB
227                             United States         Washington          US
228                                   Uruguay         Montevideo          UY
229                                Uzbekistan           Tashkent          UZ
230                                   Vanuatu          Port-Vila          VU
231                                 Venezuela            Caracas          VE
232                                   Vietnam              Hanoi          VN
233                         US Virgin Islands   Charlotte Amalie          VI
234                         Wallis and Futuna           Mata-Utu          WF
235                                     Yemen              Sanaa          YE
236                                    Zambia             Lusaka          ZM
237                                  Zimbabwe             Harare          ZW
238                 US Minor Outlying Islands         Washington          UM
239                                Antarctica                NaN          AQ
240                           Northern Cyprus      North Nicosia         NaN
241                                 Hong Kong                NaN          HK
242         Heard Island and McDonald Islands                NaN          HM
243            British Indian Ocean Territory       Diego Garcia          IO
244                                     Macau                NaN          MO

[245 rows x 3 columns]

In [92]:
#for column
#in_var['column'] = df['column'].replace(np.nan,0)

#for whole dataframe
in_var = in_var.replace(np.nan,0)

In [93]:
np.set_printoptions(threshold = sys.maxsize)

print(in_var[:30])

                                 CountryName        CapitalName CountryCode
0                                 Somaliland           Hargeisa           0
1   South Georgia and South Sandwich Islands  King Edward Point          GS
2        French Southern and Antarctic Lands  Port-aux-Français          TF
3                                  Palestine          Jerusalem          PS
4                              Aland Islands          Mariehamn          AX
5                                      Nauru              Yaren          NR
6                               Saint Martin            Marigot          MF
7                                    Tokelau              Atafu          TK
8                             Western Sahara           El-Aaiún          EH
9                                Afghanistan              Kabul          AF
10                                   Albania             Tirana          AL
11                                   Algeria            Algiers          DZ
12                            American Samoa          Pago Pago          AS
13                                   Andorra   Andorra la Vella          AD
14                                    Angola             Luanda          AO
15                                  Anguilla         The Valley          AI
16                       Antigua and Barbuda       Saint John's          AG
17                                 Argentina       Buenos Aires          AR
18                                   Armenia            Yerevan          AM
19                                     Aruba         Oranjestad          AW
20                                 Australia           Canberra          AU
21                                   Austria             Vienna          AT
22                                Azerbaijan               Baku          AZ
23                                   Bahamas             Nassau          BS
24                                   Bahrain             Manama          BH
25                                Bangladesh              Dhaka          BD
26                                  Barbados         Bridgetown          BB
27                                   Belarus              Minsk          BY
28                                   Belgium           Brussels          BE
29                                    Belize           Belmopan          BZ

In [94]:
in_var = np.array(in_var[:])
print(in_var)

[['Somaliland' 'Hargeisa' 0]
 ['South Georgia and South Sandwich Islands' 'King Edward Point' 'GS']
 ['French Southern and Antarctic Lands' 'Port-aux-Français' 'TF']
 ['Palestine' 'Jerusalem' 'PS']
 ['Aland Islands' 'Mariehamn' 'AX']
 ['Nauru' 'Yaren' 'NR']
 ['Saint Martin' 'Marigot' 'MF']
 ['Tokelau' 'Atafu' 'TK']
 ['Western Sahara' 'El-Aaiún' 'EH']
 ['Afghanistan' 'Kabul' 'AF']
 ['Albania' 'Tirana' 'AL']
 ['Algeria' 'Algiers' 'DZ']
 ['American Samoa' 'Pago Pago' 'AS']
 ['Andorra' 'Andorra la Vella' 'AD']
 ['Angola' 'Luanda' 'AO']
 ['Anguilla' 'The Valley' 'AI']
 ['Antigua and Barbuda' "Saint John's" 'AG']
 ['Argentina' 'Buenos Aires' 'AR']
 ['Armenia' 'Yerevan' 'AM']
 ['Aruba' 'Oranjestad' 'AW']
 ['Australia' 'Canberra' 'AU']
 ['Austria' 'Vienna' 'AT']
 ['Azerbaijan' 'Baku' 'AZ']
 ['Bahamas' 'Nassau' 'BS']
 ['Bahrain' 'Manama' 'BH']
 ['Bangladesh' 'Dhaka' 'BD']
 ['Barbados' 'Bridgetown' 'BB']
 ['Belarus' 'Minsk' 'BY']
 ['Belgium' 'Brussels' 'BE']
 ['Belize' 'Belmopan' 'BZ']
 ['Benin' 'Porto-Novo' 'BJ']
 ['Bermuda' 'Hamilton' 'BM']
 ['Bhutan' 'Thimphu' 'BT']
 ['Bolivia' 'La Paz' 'BO']
 ['Bosnia and Herzegovina' 'Sarajevo' 'BA']
 ['Botswana' 'Gaborone' 'BW']
 ['Brazil' 'Brasilia' 'BR']
 ['British Virgin Islands' 'Road Town' 'VG']
 ['Brunei Darussalam' 'Bandar Seri Begawan' 'BN']
 ['Bulgaria' 'Sofia' 'BG']
 ['Burkina Faso' 'Ouagadougou' 'BF']
 ['Myanmar' 'Rangoon' 'MM']
 ['Burundi' 'Bujumbura' 'BI']
 ['Cambodia' 'Phnom Penh' 'KH']
 ['Cameroon' 'Yaounde' 'CM']
 ['Canada' 'Ottawa' 'CA']
 ['Cape Verde' 'Praia' 'CV']
 ['Cayman Islands' 'George Town' 'KY']
 ['Central African Republic' 'Bangui' 'CF']
 ['Chad' "N'Djamena" 'TD']
 ['Chile' 'Santiago' 'CL']
 ['China' 'Beijing' 'CN']
 ['Christmas Island' 'The Settlement' 'CX']
 ['Cocos Islands' 'West Island' 'CC']
 ['Colombia' 'Bogota' 'CO']
 ['Comoros' 'Moroni' 'KM']
 ['Democratic Republic of the Congo' 'Kinshasa' 'CD']
 ['Republic of Congo' 'Brazzaville' 'CG']
 ['Cook Islands' 'Avarua' 'CK']
 ['Costa Rica' 'San Jose' 'CR']
 ["Cote d'Ivoire" 'Yamoussoukro' 'CI']
 ['Croatia' 'Zagreb' 'HR']
 ['Cuba' 'Havana' 'CU']
 ['Curaçao' 'Willemstad' 'CW']
 ['Cyprus' 'Nicosia' 'CY']
 ['Czech Republic' 'Prague' 'CZ']
 ['Denmark' 'Copenhagen' 'DK']
 ['Djibouti' 'Djibouti' 'DJ']
 ['Dominica' 'Roseau' 'DM']
 ['Dominican Republic' 'Santo Domingo' 'DO']
 ['Ecuador' 'Quito' 'EC']
 ['Egypt' 'Cairo' 'EG']
 ['El Salvador' 'San Salvador' 'SV']
 ['Equatorial Guinea' 'Malabo' 'GQ']
 ['Eritrea' 'Asmara' 'ER']
 ['Estonia' 'Tallinn' 'EE']
 ['Ethiopia' 'Addis Ababa' 'ET']
 ['Falkland Islands' 'Stanley' 'FK']
 ['Faroe Islands' 'Torshavn' 'FO']
 ['Fiji' 'Suva' 'FJ']
 ['Finland' 'Helsinki' 'FI']
 ['France' 'Paris' 'FR']
 ['French Polynesia' 'Papeete' 'PF']
 ['Gabon' 'Libreville' 'GA']
 ['The Gambia' 'Banjul' 'GM']
 ['Georgia' 'Tbilisi' 'GE']
 ['Germany' 'Berlin' 'DE']
 ['Ghana' 'Accra' 'GH']
 ['Gibraltar' 'Gibraltar' 'GI']
 ['Greece' 'Athens' 'GR']
 ['Greenland' 'Nuuk' 'GL']
 ['Grenada' "Saint George's" 'GD']
 ['Guam' 'Hagatna' 'GU']
 ['Guatemala' 'Guatemala City' 'GT']
 ['Guernsey' 'Saint Peter Port' 'GG']
 ['Guinea' 'Conakry' 'GN']
 ['Guinea-Bissau' 'Bissau' 'GW']
 ['Guyana' 'Georgetown' 'GY']
 ['Haiti' 'Port-au-Prince' 'HT']
 ['Vatican City' 'Vatican City' 'VA']
 ['Honduras' 'Tegucigalpa' 'HN']
 ['Hungary' 'Budapest' 'HU']
 ['Iceland' 'Reykjavik' 'IS']
 ['India' 'New Delhi' 'IN']
 ['Indonesia' 'Jakarta' 'ID']
 ['Iran' 'Tehran' 'IR']
 ['Iraq' 'Baghdad' 'IQ']
 ['Ireland' 'Dublin' 'IE']
 ['Isle of Man' 'Douglas' 'IM']
 ['Israel' 'Jerusalem' 'IL']
 ['Italy' 'Rome' 'IT']
 ['Jamaica' 'Kingston' 'JM']
 ['Japan' 'Tokyo' 'JP']
 ['Jersey' 'Saint Helier' 'JE']
 ['Jordan' 'Amman' 'JO']
 ['Kazakhstan' 'Astana' 'KZ']
 ['Kenya' 'Nairobi' 'KE']
 ['Kiribati' 'Tarawa' 'KI']
 ['North Korea' 'Pyongyang' 'KP']
 ['South Korea' 'Seoul' 'KR']
 ['Kosovo' 'Pristina' 'KO']
 ['Kuwait' 'Kuwait City' 'KW']
 ['Kyrgyzstan' 'Bishkek' 'KG']
 ['Laos' 'Vientiane' 'LA']
 ['Latvia' 'Riga' 'LV']
 ['Lebanon' 'Beirut' 'LB']
 ['Lesotho' 'Maseru' 'LS']
 ['Liberia' 'Monrovia' 'LR']
 ['Libya' 'Tripoli' 'LY']
 ['Liechtenstein' 'Vaduz' 'LI']
 ['Lithuania' 'Vilnius' 'LT']
 ['Luxembourg' 'Luxembourg' 'LU']
 ['Macedonia' 'Skopje' 'MK']
 ['Madagascar' 'Antananarivo' 'MG']
 ['Malawi' 'Lilongwe' 'MW']
 ['Malaysia' 'Kuala Lumpur' 'MY']
 ['Maldives' 'Male' 'MV']
 ['Mali' 'Bamako' 'ML']
 ['Malta' 'Valletta' 'MT']
 ['Marshall Islands' 'Majuro' 'MH']
 ['Mauritania' 'Nouakchott' 'MR']
 ['Mauritius' 'Port Louis' 'MU']
 ['Mexico' 'Mexico City' 'MX']
 ['Federated States of Micronesia' 'Palikir' 'FM']
 ['Moldova' 'Chisinau' 'MD']
 ['Monaco' 'Monaco' 'MC']
 ['Mongolia' 'Ulaanbaatar' 'MN']
 ['Montenegro' 'Podgorica' 'ME']
 ['Montserrat' 'Plymouth' 'MS']
 ['Morocco' 'Rabat' 'MA']
 ['Mozambique' 'Maputo' 'MZ']
 ['Namibia' 'Windhoek' 0]
 ['Nepal' 'Kathmandu' 'NP']
 ['Netherlands' 'Amsterdam' 'NL']
 ['New Caledonia' 'Noumea' 'NC']
 ['New Zealand' 'Wellington' 'NZ']
 ['Nicaragua' 'Managua' 'NI']
 ['Niger' 'Niamey' 'NE']
 ['Nigeria' 'Abuja' 'NG']
 ['Niue' 'Alofi' 'NU']
 ['Norfolk Island' 'Kingston' 'NF']
 ['Northern Mariana Islands' 'Saipan' 'MP']
 ['Norway' 'Oslo' 'NO']
 ['Oman' 'Muscat' 'OM']
 ['Pakistan' 'Islamabad' 'PK']
 ['Palau' 'Melekeok' 'PW']
 ['Panama' 'Panama City' 'PA']
 ['Papua New Guinea' 'Port Moresby' 'PG']
 ['Paraguay' 'Asuncion' 'PY']
 ['Peru' 'Lima' 'PE']
 ['Philippines' 'Manila' 'PH']
 ['Pitcairn Islands' 'Adamstown' 'PN']
 ['Poland' 'Warsaw' 'PL']
 ['Portugal' 'Lisbon' 'PT']
 ['Puerto Rico' 'San Juan' 'PR']
 ['Qatar' 'Doha' 'QA']
 ['Romania' 'Bucharest' 'RO']
 ['Russia' 'Moscow' 'RU']
 ['Rwanda' 'Kigali' 'RW']
 ['Saint Barthelemy' 'Gustavia' 'BL']
 ['Saint Helena' 'Jamestown' 'SH']
 ['Saint Kitts and Nevis' 'Basseterre' 'KN']
 ['Saint Lucia' 'Castries' 'LC']
 ['Saint Pierre and Miquelon' 'Saint-Pierre' 'PM']
 ['Saint Vincent and the Grenadines' 'Kingstown' 'VC']
 ['Samoa' 'Apia' 'WS']
 ['San Marino' 'San Marino' 'SM']
 ['Sao Tome and Principe' 'Sao Tome' 'ST']
 ['Saudi Arabia' 'Riyadh' 'SA']
 ['Senegal' 'Dakar' 'SN']
 ['Serbia' 'Belgrade' 'RS']
 ['Seychelles' 'Victoria' 'SC']
 ['Sierra Leone' 'Freetown' 'SL']
 ['Singapore' 'Singapore' 'SG']
 ['Sint Maarten' 'Philipsburg' 'SX']
 ['Slovakia' 'Bratislava' 'SK']
 ['Slovenia' 'Ljubljana' 'SI']
 ['Solomon Islands' 'Honiara' 'SB']
 ['Somalia' 'Mogadishu' 'SO']
 ['South Africa' 'Pretoria' 'ZA']
 ['South Sudan' 'Juba' 'SS']
 ['Spain' 'Madrid' 'ES']
 ['Sri Lanka' 'Colombo' 'LK']
 ['Sudan' 'Khartoum' 'SD']
 ['Suriname' 'Paramaribo' 'SR']
 ['Svalbard' 'Longyearbyen' 'SJ']
 ['Swaziland' 'Mbabane' 'SZ']
 ['Sweden' 'Stockholm' 'SE']
 ['Switzerland' 'Bern' 'CH']
 ['Syria' 'Damascus' 'SY']
 ['Taiwan' 'Taipei' 'TW']
 ['Tajikistan' 'Dushanbe' 'TJ']
 ['Tanzania' 'Dar es Salaam' 'TZ']
 ['Thailand' 'Bangkok' 'TH']
 ['Timor-Leste' 'Dili' 'TL']
 ['Togo' 'Lome' 'TG']
 ['Tonga' "Nuku'alofa" 'TO']
 ['Trinidad and Tobago' 'Port of Spain' 'TT']
 ['Tunisia' 'Tunis' 'TN']
 ['Turkey' 'Ankara' 'TR']
 ['Turkmenistan' 'Ashgabat' 'TM']
 ['Turks and Caicos Islands' 'Grand Turk' 'TC']
 ['Tuvalu' 'Funafuti' 'TV']
 ['Uganda' 'Kampala' 'UG']
 ['Ukraine' 'Kyiv' 'UA']
 ['United Arab Emirates' 'Abu Dhabi' 'AE']
 ['United Kingdom' 'London' 'GB']
 ['United States' 'Washington' 'US']
 ['Uruguay' 'Montevideo' 'UY']
 ['Uzbekistan' 'Tashkent' 'UZ']
 ['Vanuatu' 'Port-Vila' 'VU']
 ['Venezuela' 'Caracas' 'VE']
 ['Vietnam' 'Hanoi' 'VN']
 ['US Virgin Islands' 'Charlotte Amalie' 'VI']
 ['Wallis and Futuna' 'Mata-Utu' 'WF']
 ['Yemen' 'Sanaa' 'YE']
 ['Zambia' 'Lusaka' 'ZM']
 ['Zimbabwe' 'Harare' 'ZW']
 ['US Minor Outlying Islands' 'Washington' 'UM']
 ['Antarctica' 0 'AQ']
 ['Northern Cyprus' 'North Nicosia' 0]
 ['Hong Kong' 0 'HK']
 ['Heard Island and McDonald Islands' 0 'HM']
 ['British Indian Ocean Territory' 'Diego Garcia' 'IO']
 ['Macau' 0 'MO']]

In [95]:
in_var.shape

(245, 3)